<tr>
  <td><%= leader.id %></td>
  <td><%= leader.user.name if leader.user %></td>
  <td><%= leader.user.cell if leader.user %></td>
  <td><%= leader.user.email if leader.user %></td>
  <td><%= leader.name %></td>
  <td><%= leader.phone %></td>
  <td><%= leader.sex %></td>
  <td><%= I18n.l(leader.birth) if leader.birth %></td>
  <td><%= leader.workplace %></td>
  <td><%= leader.income %></td>
  <td><%= leader.payoff_type %></td>
  <td><%= leader.job %></td>
  <td><%= leader.has_credit_card %></td>
  <td><%= leader.loan_experience %></td>
  <td><%= leader.mortgage %></td>
  <td><%= leader.has_car_loan %></td>
  <td><%= leader.has_accumulation_fund %></td>
  <td><%= leader.has_life_insurance %></td>
  <td><%= leader.channel %></td>
  <td><%= leader.approve_time %></td>
  <td><%= leader.amount %></td>
  <td><%= leader.commission %></td>
  <td><%= leader.second_commission %></td>
  <td><%= leader.third_commission %></td>
  <td><%= I18n.l(leader.created_at, format: :long) %></td>
  <td><%= link_to t(:edit), edit_admin_leader_path(leader) %></td>
</tr>